.cards{
    /* background-color: black; */
    height: 50vh;
}
/* .salarybackground{
    background-image: url(https://i.pinimg.com/736x/de/0e/98/de0e98eed80dd2eb0690c2764b5cddb5.jpg);
    background-position: center;
    background-size: cover;
    width: 214vh;
    height: 200vh;
} */