.box{
    background-color: rgba(0, 0, 0, 0.845);
    width: 50vh;
    height: 120vh;
}
.box2{
    background-color:white;
    width: 168vh;
    height: 10vh;
}
.dashboard{
    color: white;
}
.logout{
    width: 25px;
}
.profile{
    width: 25px;
}
.dashboardicon{
    width: 25px;
}
.employeicon{
    width: 25px;
}
.category{
    width: 25px;
}
.box-shadow{
    width: 40vh;
    height: 20vh;
    border: 1px solid rgb(163, 163, 163);
}
.border12{
    /* border: none; */
    border-bottom: 2px solid gray;
}
.mainbox12{
    background-color: rgb(229, 229, 230);
    height: 110vh;
}
.mainbox123{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.borderr{
    border-bottom: 1px solid gray;
}
.editbutton{
    padding: 5px;
    width: 10vh;
    background-color: rgb(0, 166, 255);
    border: 1px solid rgb(0, 166, 255);
    border-radius: 8px;
}
.deletebutton{
    padding: 5px;
    width: 10vh;
    background-color: rgb(242, 168, 32);
    border: 1px solid  rgb(242, 168, 32);
    border-radius: 8px;
}
.logbttn{
    background-color: rgb(242,168,32);
    border: 2px solid rgb(242,168,32);
    padding: 5px;
    width: 10vh;
    font-weight: bold;
}
.box-shadow11{
    height: 50vh;
    background-color: white;
    width: 50vh;
    border-radius: 20px;
}
.leave{
    width: 30vh;
}
.leave12{
    width: 30vh;
}
.leave123{
    width: 30vh;
}
.totalemp{
    width: 50px;
}
.sidebar{
    height: 100vh;
}