.main{
    background-color: black;
    width: 45vh;
    height: 100vh;
}
.sub{
    background-color: rgb(215, 215, 218);
    width: 168vh;
    height: 10vh;
}
.dash{
    color: white;
}
.Addbttn{
    background-color: darkgreen;
    border: 2px solid darkgreen;
    padding: 5px;
    width: 20vh;
    color: white;
    font-size: 18px;
    border-radius: 10px;
}
.dashimg{
    width: 25px;
}
.employeimg{
    width: 25px;
}
.categoryimg{
    width: 25px;
}
.profileimg{
    width: 25px;
}
.logoutimg{
    width: 25px;
}
